<div class="login__page">
    <div class="imagem__login">
        <img src="/ranger.png" alt="ford__ranger">
    </div>

    <div class="forms__login">
        <div class="imgForms">
            <img src="/ford.png" alt="logo_ford">
        </div>
        <h2>Boas-Vindas</h2>
        <!-- <form [formGroup]="userForms" (ngSubmit)="onUserSave()">
            <p> Olá, meu nome é {{ userObj.name }}</p>
            <input type="text" placeholder="Digite seu nome..." [(ngModel)]="userObj.name" formControlName="name">
            <div class="alerta__validacao"
                *ngIf="userForms.controls['name'].errors?.['required'] && userForms.controls['name'].touched">
                <span>Isso precisa ser preenchido!</span>
            </div>

            <input type="text" placeholder="Digite sua senha..." [(ngModel)]="userObj.senha" formControlName="password" >
            <div class="alerta__validacao"
                *ngIf="userForms.controls['password'].errors?.['required'] && userForms.controls['password'].touched">

                <span>Isso precisa ser preenchido!</span>
            </div>
            <div class="alerta__validacao"
                *ngIf="userForms.controls['password'].errors?.['minlength'] && userForms.controls['password'].touched">
                <span>Senha deve ter no mínimo 6 caracteres!</span>
            </div>

            <div *ngIf="mostrarTexto">
                <h1>CLIQUE AQUI {{ userObj.name }}!</h1>
            </div>
            <button [routerLink]="['/home']" (click)="onUserSave()"> Logar </button>
        </form>
        <button  [(ngModel)]="userObj.name"> Mostrar Texto na Tela...</button> -->
        <app-forms></app-forms>
    </div>
</div>