    <app-sidebar></app-sidebar>
    <div class="d-flex flex-fill justify-content-center align-itens-center">
        <div class="centralizar">
            <div class="card text-center">
                <h5 class="card-header d-flex justify-content-between align-itens-center"> Boas-Vindas ao Sistema de
                    dados
                    FORD</h5>
                <div class="card-body">
                    <h5 class="card-title"> Olá seja bem-vindo(a)!</h5>
                    <p class="card-text">Gerencie informações, visualize gráficos e acesse relatórios da frota FORD.</p>
                    <a routerLink="/dashboard" class="btn btn-primary">Ir para o Dashborad</a>
                </div>
            </div>
        </div>
    </div>
