<app-sidebar></app-sidebar>
<div *ngIf="selectorVehicles" class="container-fluid d-flex justify-content-center">

    <!-- Seletor-de-Carros -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <select id="carSelector" name="carSelector" class="form-select shadow-sm" [(ngModel)]="seletorDeCarros"
                (change)="carroSelecionado()">
                <option [value]="i" *ngFor="let v of veiculos; index as i">
                    {{v.vehicle}}
                </option>
            </select>
        </div>

        <!-- Total-de-Vendas -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total de Vendas</h5>
                <p class="card-text">{{ selectorVehicles.volumetotal }}</p>
                <p class="card-text">Unid.</p>
            </div>
        </div>

        <!-- Conectados -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Conectados</h5>
                <p class="card-text">{{ selectorVehicles.connected }}</p>
                <p class="card-text">Unid.</p>
            </div>
        </div>

        <!-- Update-Software -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Unidade Software</h5>
                <p class="card-text"> {{ selectorVehicles.softwareUpdates }}</p>
                <p class="card-text">Unid.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> Imagem do Veículo </h5>
                <img class="img-fluid" *ngIf="selectorVehicles.img" [src]="selectorVehicles.img"
                    alt="Imagem de {{ selectorVehicles.vehicle }}" style="max-height: 100%;">
            </div>
        </div>
    </div>
    <app-vin></app-vin>
</div>