<app-sidebar></app-sidebar>
<div class="container-fluid d-flex justify-content-center">

    <!-- Seletor-de-Carros -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <select name="carSelector">
                <option value="">Selecione o veículo</option>
                <option value="">Bronco Sport</option>
                <option value="">Mustang</option>
                <option value="">Ranger</option>
                <option value="">Territory</option>
            </select>
        </div>

        <!-- Total-de-Vendas -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total de Vendas</h5>
                <p class="card-text"></p>
                <p class="card-text">Unid.</p>
            </div>
        </div>

        <!-- Conectados -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Conectados</h5>
                <p class="card-text"></p>
                <p class="card-text">Unid.</p>
            </div>
        </div>

        <!-- Update-Software -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Unidade Software</h5>
                <p class="card-text"></p>
                <p class="card-text">Unid.</p>
            </div>
        </div>
    </div>